#head{
	width: 100%;
	height: 50px;
	background-color: #4C4C4C;
	line-height:50px;
	overflow:hidden;	
}
#msg{
	float: left;
	color: white;
	font-size: 18px;
	margin-left: 5%;
	font-family: "楷体";
}
#lot{
	float: right;
	margin-right: 5%;
}
.headNav{
	width: 30px;
	height: 30px;
}
.navs{
    background-color: #F9F9F9 ;
    width: 16%;
    min-height: 650px;
    float: left;
    margin-left: 5%;
}
#right{
	width: 70%;
	float: right;
	margin-right: 7%;
	min-height: 650px;
}
.dropbtn {
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	text-align: center;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 30px;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 6px 8px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}



