body{
    margin: auto;
    background-image: url(../../img/findPwd_bg.gif);
}
*{
	margin: auto;
	height: auto;
}
#logo{
	padding-top: 15px;
	width: 75%;
	padding-bottom: 60px;
}
#main{
	width: 75%;
	min-height: 500px;
	background-color: white;
}
#title{
	padding-top:30px ;
	width: 90%;
	color: #F39307;
    padding-bottom: 20px;
}
#form{
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	width: 90%;
	min-height: 100px;
	
}
.tb{
	width: 70%;
	float: left;
	margin-left: 3%;
	margin-top: 30px;
}
#bt{
	float: right;
	background-color: #5CB85C;
	color: white;
	border: 0px;
	border-radius: 3px;
	width: 10%;
	min-height: 30%;
	margin-right: 3%;
	font-size: 20px;
	margin-top: 32px;
}
.font1{
	font-size: 12px;
}
.font2{
	font-size: 16px;
}
.text{
	min-height:25px ;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
}
#foot{
	padding-top: 20px ;
	text-align: center;
	color: #999999;
	font-size: 12px;
	padding-bottom: 10px;
}

